<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="uipConfiguration" type="Microsoft.ApplicationBlocks.UIProcess.UIPConfigHandler,  Microsoft.ApplicationBlocks.UIProcess " />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Controller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <uipConfiguration configSource="uip.config">
  </uipConfiguration>
  <appSettings>
    <add key="StartUI" value="demo">
    </add>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExampleSvcSoap" />
        <binding name="WeatherWSSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WeatherWSSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53851/ExampleSvc.asmx" binding="basicHttpBinding"
          bindingConfiguration="ExampleSvcSoap" contract="LocalExampleSvc.ExampleSvcSoap"
          name="ExampleSvcSoap" />
      <endpoint address="http://www.webxml.com.cn/WebServices/WeatherWS.asmx"
          binding="basicHttpBinding" bindingConfiguration="WeatherWSSoap"
          contract="WeatherSvc.WeatherWSSoap" name="WeatherWSSoap" />
      <endpoint address="http://www.webxml.com.cn/WebServices/WeatherWS.asmx"
          binding="customBinding" bindingConfiguration="WeatherWSSoap12"
          contract="WeatherSvc.WeatherWSSoap" name="WeatherWSSoap12" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Controller.Properties.Settings>
      <setting name="Controller_cn_com_webxml_www_WeatherWS" serializeAs="String">
        <value>http://www.webxml.com.cn/WebServices/WeatherWS.asmx</value>
      </setting>
    </Controller.Properties.Settings>
  </applicationSettings>
</configuration>
