<?xml version="1.0" encoding="utf-8" ?>
<uipConfiguration>
  <objectTypes>
    <iViewManager name="WindowsFormViewManager" type="Microsoft.ApplicationBlocks.UIProcess.WindowsFormViewManager, Microsoft.ApplicationBlocks.UIProcess, Version=2.0.0.0,Culture=neutral,PublicKeyToken=81e58bad17819254" default="true" />
    <state name="State" type="Microsoft.ApplicationBlocks.UIProcess.State, Microsoft.ApplicationBlocks.UIProcess, Version=2.0.0.0,Culture=neutral,PublicKeyToken=81e58bad17819254" default="true" />
    <controller name="BaseController" type="Controller.BaseController, Controller, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
    <controller
                name="PersonController"
                type="Client.PersonController, Client, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />

    <controller
        name="PersonTreeController"
        type="Client.PersonTreeController, Client, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
    <statePersistenceProvider name="MemoryStatePersistence" type="Microsoft.ApplicationBlocks.UIProcess.MemoryStatePersistence, Microsoft.ApplicationBlocks.UIProcess, Version=2.0.0.0,Culture=neutral,PublicKeyToken=81e58bad17819254" default="true" />
  </objectTypes>
  <views>
    <view name="Main" type="Client1.FormMain, Client1, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" controller="BaseController" stayOpen="true" />
    <view name="Form1" type="Client1.Form1, Client1, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" controller="BaseController" stayOpen="true" />
    <view name="Form2" type="Client1.Form2, Client1, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" controller="BaseController" stayOpen="true" />


    <view
                name="Person"
                type="Client.PersonControl, Client, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"
                controller="PersonController"/>

    <view
        name="PersonList"
        type="Client.PersonTree, Client, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"
        controller="PersonTreeController"/>

    <view
        name="Host"
        type="Client.MainForm, Client, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"
        controller="PersonController"
        stayOpen="true"
        canHaveFloatingWindows="true"
        MainFormTitle="Title defined by custom attribute in view setting(configurable)"/>
    <view
        name="Banner"
        type="Client.BannerForm, Client, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"
        controller="PersonController"
        floatable="true" />
    </views>
    <userControls name="demo"
						startForm="Host"
						iViewManager="WindowsFormViewManager"
						state="State"
						statePersist="MemoryStatePersistence">
      <form name="Host">
            <childView name="person" viewName="Person"/>
            <childView name="peopleTree" viewName="PersonList"/>
      </form>
    </userControls>
</uipConfiguration>